# See also: https://git-scm.com/docs/git-shortlog#_mapping_authors
Kunal Mehta <legoktm@debian.org>
Kunal Mehta <legoktm@debian.org> <legoktm@member.fsf.org>
Kunal Mehta <legoktm@debian.org> <legoktm.wikipedia@gmail.com>
Kunal Mehta <legoktm@debian.org> <legoktm@gmail.com>
